{% extends "base.html" %}


{% block featureBox %}

<meta charset="utf-8">
{% load media %}
<script src="{% media_url %}/js/jquery.js"></script>

<script>
$(document).ready(function() {
    $("#menu ul ul").hide();    
    $("#menu ul li").click(function(e) {
      $(this).children("ul").toggle('fade');
      e.stopPropagation();
    });
});
</script>


<h1>Browse:</h1>
<div id="menu">
   
    <ul>
      {% for topkey,topvalue in locations.items %}
        <li><a id="{{topvalue.slug}}" href=#>{{topvalue.name}}</a>            
            <ul>
                {% for child in topvalue.children %}
               <li><a HREF="/display/search/?country_code={{topvalue.country_code}}&subdivision_code={{child.subdivision_code}}"> {{child.name}} </a></li>
                
   
            <ul>
                {% for gchild in child.children %}
               <li>
                  <a HREF="/display/search/?country_code={{topvalue.country_code}}&subdivision_code={{child.subdivision_code}}&level3_admin_boarder_code={{gchild.name}}"> {{gchild.name}} </a>
               </li>
               {% endfor %}
            </ul>
            {% endfor %}
                
                
            </ul>
        </li>
       {% endfor %}
    </ul>
    
</div>
{% endblock %}
