{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}

<h1>Browse:</h1>
<ol>
   
   {% for topkey,topvalue in locations.items %}
   <li> {{topvalue.name}} </li>
      {% for child in topvalue.children %}
      
      <ul>
         <li><a HREF="/display/search/?country_code={{topvalue.country_code}}&subdivision_code={{child.subdivision_code}}"> {{child.name}} </a></li>
      {% for gchild in child.children %}
      <ul>
          <li><a HREF="/display/search/?country_code={{topvalue.country_code}}&subdivision_code={{child.subdivision_code}}&level3_admin_boarder_code={{gchild.name}}"> {{gchild.name}} </a></li>
         </ul>
      {% endfor %}
      
      </ul>
      
      
      {% endfor %}
   {% endfor %}
</ol>
   
{% endblock %}
