{% extends "base.html" %}


{% block featureBox %}

<meta charset="utf-8">
{% load media %}
<script src="{% media_url %}/js/jquery.js"></script>
<script>

$(document).ready(function() {
    $("#menu ul ul").hide();
    
    $("#menu ul li").click(function(e) {
      $(this).children("ul").toggle('fade');
      e.stopPropagation();
    });
});
</script>

<h1>Browse: <a href="/display/search/?country_code={{country_code}}">{{country_name}} ({{country_code}})</a></h1>


<div id="menu">
    <ul>
      {% for c in locations %}
        <li><a id="database" href="#">{{c.name}}</a>
        
            <ul>
               <li><a href="/display/search/?country_code={{country_code}}&subdivision_code={{c.subdivision_code}}">All</a></li>
                {% for gchild in c.children %}
                <li><a href="/display/search/?country_code={{country_code}}&subdivision_code={{c.subdivision_code}}&level2_admin_boarder_code={{gchild.slug}}">{{gchild.name}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}

    </ul>
</div>

{% endblock %}
