{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}

<br>
{% load media %}
 <img src="{% media_url %}/img/georegistry_logo.png"></img>
<br> <br> 
    <h2>Introduction:</h2>
    <br>
    <h3>Georegistry.org is a global registry of places and things.
    <a HREF="/about">Read more...</a></p>
    <br><br>

    <br></br>
    <p>
    <h2>Total Features in Georegistry: {{total}}</h2>		
    </p>
    <br></br>
   <p> 
  <h2><a HREF="browse/countries">Countries:</a></h2>
  <ul>
  {% for i  in countries %}
	<li><a HREF="browse/{{i.country_code}}">{{i.name}}</a></li>
  {% endfor %}
  </ul>
  </p>
   <br></br>
   <p>
  <h2>Categories:</h2>
  <ul>
   {% for c in categories %}
	{% for k,v  in c.items %}
		<li><a HREF="display/search/?classifiers.category={{k}}">{{k}} ({{v}})</a></li>
	{% endfor %}
  {% endfor %}
  </ul>
  </p>

  <br></br>
{% endblock %}
