{% extends "base.html" %}
{% block extra_head %}


{% endblock %}

{% block featureBox %}

<br>
{% load media %}
 <img src="{% media_url %}/img/georegistry_logo.png"></img>
<br> <br> 
<h1>Client Website Example</h1>
<p><a HREF="http://api.georegistry.org">(Click here for the API site)</a>
</p>
<br> <br> 
    <h2>Introduction:</h2>
    <br>
    <p>Welcome to Georegistry.org, the geospatial health repository developed
    by the <a HREF="http://www.earth.columbia.edu/"> 
    Earth Institute </a> at Columbia University.
    <a HREF="/about">Read more...</a></p>
    <br><br>
    <p>You can also <a HFEF="/browse/">browse the Georegistry</a>.
    This feature is still under construction.</p>
		
  <br></br>
  <br></br>
  <br></br>
  
  
  
  <h2>Example Queries:</h2>
<ul>

<li><a href="/gmap/search/?school_type=primary&religious=no&country_code=NG&subdivision_code=JI">
Search Example 1: All religious primary schools in Miga (Nigeria) in Google Maps</a></li>

<li><a href="/display/search/?school_type=primary&religious=no&country_code=NG&subdivision_code=JI">
NEW! Search Example 2: All religious primary schools in Miga (Nigeria) in as a list</a></li>

<li><a href="/list/search/?school_type=primary&religious=no&country_code=NG&subdivision_code=JI">
Search Example 3: All religious primary schools in Miga (Nigeria) in as a list</a></li>

</ul>
  
 <br></br>  
    <img src="{% media_url %}/img/Rsrch_HomeBanner_2.jpg"></img>
    <p>Please pardon our mess.  This site is still under construction. :-)</p>
{% endblock %}
